.appShell {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
}

.mainWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}
